<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jiang.microblog">

    <!-- 用于联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于获取连接WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取连网状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于写入文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于调用 JNI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.activity.LoginActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".view.activity.ShowPictureActivity" />
        <activity
            android:name=".view.profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.comment.CommentActivity" />
        <activity android:name=".GoodbyeActivity" />
        <activity android:name=".view.share.ShareActivity" />
        <activity android:name=".test.NotificationActivity" />
        <activity android:name=".test.NotificationContentActivity" />
        <activity android:name=".test.TestShareActivity"></activity>
    </application>

</manifest>